body {
    background-color: #0d1117;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    margin: 0;
}
img {
    user-drag: none;
    -webkit-user-drag: none;
}
a {
    color: aqua;
}
.applist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.appimg {
    border: 2px solid white;
    box-shadow: 0 0 40px 5px white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
    margin: 50px;
    transition: transform ease-out 0.2s;
}
.appimg, .linkimg {
    &:hover {
        transform: scale(110%);
    }
    &:active {
        transform: scale(120%);
    }
}
.linkimg {
    border: 2px solid white;
    box-shadow: 0 0 20px 5px white;
    border-radius: 10px;
    cursor: pointer;
    width: 64px;
    height: 64px;
    display: inline-block;
    transition: transform ease-out 0.2s;
    margin: 20px;
}