body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
    margin: 0;
}
.app img {
    border: 2px solid white;
    box-shadow: 0 0 40px 5px white;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    height: 150px;
    display: inline-block;
    transition: transform ease-out 0.2s;
    margin: 50px;
}
.app img:hover, .social img:hover {
    transform: scale(110%);
}
.app img:active, .social img:active {
    transform: scale(120%);
}
.social img {
    border: 2px solid white;
    box-shadow: 0 0 20px 5px white;
    border-radius: 10px;
    cursor: pointer;
    width: 64px;
    height: 64px;
    display: inline-block;
    transition: transform ease-out 0.2s;
    margin: 20px;
}